<header class="header">
    <div class="left-section">
        <h2>Edu<span class="logo-text">cate</span></h2>

        <div class="date-container">
            <p><strong>Dashboard</strong></p>
            <p>{{date | date: 'EEEE MMMM d, y'}}</p>
        </div>
    </div>

    <div class="right-section">
        <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#000000">
            <path d="M192-216v-72h48v-240q0-87 53.5-153T432-763v-53q0-20 14-34t34-14q20 0 34 14t14 34v53q85 16 138.5 82T720-528v240h48v72H192Zm288-276Zm-.21 396Q450-96 429-117.15T408-168h144q0 30-21.21 51t-51 21ZM312-288h336v-240q0-70-49-119t-119-49q-70 0-119 49t-49 119v240Z"/>
        </svg>
        <div class="profile-container">
            <img [src]="'./../../../'+profileCover()" alt="">
        </div>
    </div>
</header>