@use './../../../themes/base/' as b;

.header {
    padding: 1rem;
    @include b.flex-row-center-space-between();
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0px 0px 6px 0px #ccc;

    .left-section {
        @include b.flex-row-start-center(2rem);
    }

    .right-section {
        @include b.flex-row-start-center(1rem);

        svg {
            cursor: pointer;
        }

        .profile-container {
            box-shadow: 0px 0px 6px 0px #ccc;
            border-radius: 25%;
            cursor: pointer;

            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}