<div class="login-page-container">
    <div class="login-form-container">
        <form [formGroup]="loginCredentials" class="login-form">
            <h1>Login</h1>
            <p>Enter your credentials to access your account</p>
            <!-- email input-->
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
                    placeholder="Ex. pat@example.com">
                @if (loginCredentials.controls.email.hasError('email') &&
                !loginCredentials.controls.email.hasError('required')) {
                <mat-error>Please enter a valid email address</mat-error>
                }
                @if (loginCredentials.controls.email.hasError('required')) {
                <mat-error>Email is <strong>required</strong></mat-error>
                }
            </mat-form-field>
            <!-- password input -->
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" [errorStateMatcher]="passMatcher"
                    placeholder="Ex. Admin@123">
                @if (loginCredentials.controls.password.hasError('pattern') ||
                !loginCredentials.controls.password.hasError('required') ) {
                <mat-error>Please enter a valid password</mat-error>
                }
                @if (loginCredentials.controls.password.hasError('required')) {
                <mat-error>Password is <strong>required</strong></mat-error>
                }
            </mat-form-field>
            <!-- forgot password link -->
            <div class="forgot-pass-link">
                <a href="#">forgot password?</a>
            </div>
            <!-- login button -->
            <div class="btn-container">
                <button mat-raised-button (click)="login()" [disabled]="loginCredentials.invalid">Login</button>
            </div>
        </form>
        <div class="right-section">
        </div>
    </div>
</div>